<div class="splash-body">
<div class="logo-img">
  <img id="img-one" src="http://res.cloudinary.com/jolinar1013/image/upload/v1452725199/ok-logo_ivaivp.png"></img>
  <img id="img-two" src="http://res.cloudinary.com/jolinar1013/image/upload/v1452725195/alpha-logo_qrywtj.png"></img>
</div>

<br/>
<div class="new-page">
<h4>Join the best free dating site in the Quadrant</h4>
<br><br/>
<h2 class="guest-user">Try with a demo account!</h2>
<br>

<form class="guest-user" action="<%= session_url %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="user[username]" value="Guest">
  <input type="hidden" name="user[password]" value="password">
  <input type="submit" value="Log in as Guest">
</form>

<br>
<hr class="bar"><hr class="bar">
<br><br>

<div class="errors" id="sign-up">
  <%= flash[:errors_signup].join("<br>").html_safe if flash[:errors_signup] %>
  <br/>
</div>
<h2 class="new-user">Sign Up</h2>
<br>
<form class="new-user" action="<%= users_url %>" method="post">
  <%= auth_token_input %>
  <input type="text" name="user[username]" placeholder="Username">
  <br>
  <input type="password" name="user[password]" placeholder="Password">
  <br><br>
  <input type="submit" value="Sign Up">
</form>

<br>
<hr class="bar"><hr class="bar">
<br><br>

<div class="errors">
  <%= flash[:errors_login].join("<br>").html_safe if flash[:errors_login] %>
  <br/><br/>
</div>
<h2 class="new-session">Log In</h2>
<br>
<form class="new-session" action="<%= session_url %>" method="post">
  <%= auth_token_input %>
  <input type="text" name="user[username]" placeholder="Username">
  <br>
  <input type="password" name="user[password]" placeholder="Password">
  <br><br>
  <input type="submit" value="Log In">
</form>

</div>
</div>
