<div class="splash-body">
<div class="logo-img">
  <img id="img-one" src="http://res.cloudinary.com/jolinar1013/image/upload/v1452725199/ok-logo_ivaivp.png"></img>
  <img id="img-two" src="http://res.cloudinary.com/jolinar1013/image/upload/v1452725195/alpha-logo_qrywtj.png"></img>
</div>


<h4>Join the best free dating site in the Quadrant</h4>


<% if session_flag? %>

<div class= "new-session" id="new-session">
  <% if flash[:errors_login] %>
    <div class="errors-show"><%= flash[:errors_login].join("").html_safe if flash[:errors_login] %></div>
  <% else %>
    <div class="errors-hide"></div>
  <% end %>
  <h2>Log In</h2>

  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>
    <input type="text" name="user[username]" placeholder="Username">
    <br/>
    <input type="password" name="user[password]" placeholder="Password">
    <br/>
    <input type="submit" value="Log In">
    <br/>
    <a href="/users/new">Don't have an account? Sign Up</a>
  </form>
</div>

<% else %>

<div class="new-user" id="new-user">
  <% if flash[:errors_signup] %>
    <div class="errors-show"><%= flash[:errors_signup].join("").html_safe %></div>
  <% else %>
    <div class="errors-hide"></div>
  <% end %>
  <h2>Sign Up</h2>

  <form action="<%= users_url %>" method="post">
    <%= auth_token_input %>
    <input type="text" name="user[username]" placeholder="Username">
    <br/>
    <input type="password" name="user[password]" placeholder="Password">
    <br/>
    <input type="submit" value="Sign Up">
    <br/>
    <a href="/session/new">Already have an account? Log In</a>
  </form>
</div>

<% end %>


<h3 class="guest-user">Or log in with a demo account!</h3>

<form class="guest-user" action="<%= session_url %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="user[username]" value="Guest">
  <input type="hidden" name="user[password]" value="password">
  <input type="submit" value="Log in as Guest">
</form>

</div>
