<!DOCTYPE html>
<html class="header">
<head>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if signed_in? %>
    <%= render "layouts/errors" %>
    <header>
      <nav class="header-nav group">

        <h1 class="header-logo">
          <a href="#">OkAlpha</a>
        </h1>
        <ul class="header-list group">
          <li>Welcome <%= current_user.username.capitalize %></li>
          <li><a href= "<%="#/profile/#{current_user.id}"%> " id="user_form">My Profile </a></li>
          <li><a><%= button_to "Sign Out", session_url, :method => :delete %></a></li>
        </ul>

      </nav>
    </header>
    <%= yield %>

  <% else %>
    <%= render "layouts/errors" %>
    <%= render "layouts/new_user" %>
  <% end %>


</body>
</html>
